* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Content */
  --content-primary: #FFFFFF;
  --content-secondary: #C7C9CC;
  --content-tertiary: #D9D9D9;
  --content-brand: #C58DE7;
  --color-inverse: #030203;

  /* Background */
  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222E;
  --background-brand: #C58DE7;
  --background-gray: #3D3D3D;

  /* Accent */
  --accent-pink: #D586E0;
  --accent-blue: #91A1FA;
  --accent-green: #77C0AF;
  --accent-lime: #D1DC97;
  --accent-red: #E9A9B3;

  --ff-sora: "Sora", sans-serif;
  --display-large: 800 4rem/1.3 var(--ff-sora);
  --display-medium: 800 2.5rem/1.3 var(--ff-sora);
  --display-small: 700 2rem/1.3 var(--ff-sora);

  --ff-mono: "Roboto Mono", monospace;
  --overline: 700 1rem/1.5 var(--ff-mono);
  --result: 700 3rem/1.5 var(--ff-mono);

  --ff-flex: "Roboto Flex", sans-serif;
  --paragraph-large: 400 1rem/1.5 var(--ff-flex);
  --paragraph-medium: 400 0.875rem/1.5 var(--ff-flex);
  --paragraph-small: 400 0.75rem/1.5 var(--ff-flex);
  --label-medium: 800 1.25rem/1.5 var(--ff-flex);
  --label-small: 800 1rem/1.5 var(--ff-flex);
}

body {
  background-color: var(--background-primary);
  
}

main {
  min-height: 100vh;
  background-image: url('../assets/Shapes.png');
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-position: bottom;
}

.container {
  padding: 2.75rem 2.1875rem;
}

@media (width > 1100px) {
  main {
    padding-top: 4.75rem;
    padding-bottom: 9.5625rem;
  }

  .container {
    padding: 0;
    width: 1098px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "logo logo" 
    "header result"
    "info result"
    ;
    align-items: center;
    column-gap: 6.75rem;
  } 
}

.logo {
  text-align: center;
  margin-bottom: 2.5rem;
}


@media (width > 1100px) {
  .logo {
    grid-area: logo;
    text-align: left;
    margin-bottom: 5.5625rem;

    & img {
      margin-left: -0.875rem;
    }
  }
}

header {
  & p {
    background-image: linear-gradient(90deg, #C7C9CC 0%, #3D3D3D 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; /* Fallback */
    font: var(--overline);
    text-transform: uppercase;
    margin-bottom: .5rem;
  }

  & h1 {
    color: var(--content-primary);
    font: var(--display-medium);
    margin-bottom: 2.625rem;
    text-transform: uppercase;
  }
}

@media (width > 1100px) {
  header {
    grid-area: header;
    align-self: start;
    & h1 {
      font: var(--display-large);
      margin-bottom: 2.375rem;
      text-transform: uppercase;
    }
  }
}

.draw {
  & h2 {
    color: var(--content-primary);
    font: var(--label-medium);
    text-transform: uppercase;
  }

  & p {
    color: var(--content-tertiary);
    font: var(--paragraph-medium);
    margin-bottom: 2.5rem;
  }

  & .inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    margin-bottom: 1.75rem;

    & label {
      display: block;
      margin-bottom: .5rem;
      text-align: center;
      font: var(--label-medium);
      color: var(--content-secondary);
      text-transform: uppercase;
    }

    & input[type="number"]::-webkit-inner-spin-button,
    & input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    & input[type="number"] {
      -moz-appearance: textfield; /* Firefox */
    }

    & input[type="number"] {
      -webkit-appearance: none; 
      -moz-appearance: none;    
      appearance: none;   

      border: none;
      background: transparent;
      outline: none;

      width: 86px;
      height: 56px;
      padding: 0.25rem .5rem;
      background-color: var(--background-secondary);
      border-radius: .5rem;
      font: var(--display-small);
      text-align: center;
      color: var(--content-primary);
    }
  }

  & .label-text {
    color: var(--content-primary);
    font: var(--paragraph-medium);
  }

  & .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
    
  }

  /* Esconde o checkbox padrão do navegador */
  & .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* O fundo do switch (o trilho) */
  & .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; /* Cor quando desativado */
    transition: .4s;
    border-radius: 34px;
  }

  /* A bolinha branca */
  & .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }

  /* Quando o checkbox está marcado (Checked) */
  & input:checked + .slider {
    /* Usei um degradê para chegar próximo da sua imagem */
    background: linear-gradient(90deg, #cf91ff, #82aaff);
  }

  /* Move a bolinha para a direita quando marcado */
  & input:checked + .slider:before {
    transform: translateX(22px);
  }

  .flex{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2.5rem;
  }

  & button {
    width: 100%;
    background-color: var(--background-tertiary);
    padding-block: 1rem;
    text-align: center;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font: var(--label-medium);
    color: var(--content-primary);
    gap: .5rem;
    cursor: pointer;
    margin-bottom: 4.9375rem;
    border: 2px solid transparent;
    border-radius: 12px;
    
    background-origin: border-box;
    background-clip: padding-box, border-box;
    transition: filter 0.3s ease;

    &:hover {
      filter: brightness(1.2);
      background-image: 
        linear-gradient(#111, #111), 
        linear-gradient(90deg, #a8ff78, #78ffd6, #fb87ff);
    }
  }

  & .results {
    & h2{
      text-align: center;
      text-transform: uppercase;
    }

    & p {
      font: var(--overline);
      color: var(--content-secondary);
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 2.5rem;
    }

    & .result {
      display: flex;
      gap: 1.625rem;
      align-items: center;
      justify-content: center;
      margin-bottom: 2.5rem;

      & .item {
        font: var(--result);
        color: var(--content-brand);
      }
    }
  }
}

.display-none {
  display: none;
}

@media(width > 1100px){
  .draw {
    grid-area: result;

    & .inputs {
      justify-content: left;
    }

    & button {
      margin-bottom: 0;
    }
  }
}

.info {
  & p.info-title {
    color: var(--content-brand);
    font: var(--paragraph-medium);
  }

  & p {
    color: var(--content-secondary);
    font: var(--paragraph-small);
  }

  & p:nth-child(2) {
    margin-bottom: 2.25rem;
  }
}

@media(width > 1100px){ 
  .info {
    grid-area: info;
    align-self: start;
  }
}